:root {
  --grey: rgb(39, 39, 39);
  --blue: rgb(248, 252, 255);
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

* {
  /* color: rgb(109, 118, 160); */
}

form {
  width: 350px;
  height: auto;
  background: rgb(255, 255, 255);
  margin-top: 20px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.18);
}

label {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--grey);
}

input {
  font-size: 16px;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--grey);
  color: #2c2c2c;
}

#comment {
  height: 50px;
  font-size: 24px;
  font-size: 16px;
  padding-left: 5px;
  font-family: Arial, sans-serif;
  resize: none;
  border: 1px solid var(--grey);
  color: #2c2c2c;
}

#comment:focus {
  outline: none;
  border: none;
  border: 1px solid var(--grey);
}

input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--grey);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 165px);
  grid-column-gap: 20px;
}

.heading {
  width: 270px;
  height: 70px;
  position: absolute;
  left: 50px;
  top: 0px;
  color: rgb(139, 139, 139);
  border-bottom: 1px solid rgb(201, 201, 201);
  padding-bottom: -100px;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-family: Arial, sans-serif;
  font-weight: 200;
}

#add {
  background: var(--grey);
  font-size: 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  height: 40px;
  position: relative;
  color: white;
}

#add:hover {
  background: #616161;
}

.fa-solid {
  padding-right: 10px;
}

.error {
  color: red;
  margin-top: 5px;
  visibility: hidden;
  font-size: 14px;
}
