body {
  margin: 0px;
  background-color: rgb(225, 225, 225);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100vw;
}

:root {
  --grey: #ccc;
  --grey: #b5b5b5;
  --rd-2: 1px;
  --rd-5: 5px;
  --rd-10: 10px;
  --rd-20: 20px;
  --rd-custom: 5px;
  --dark-theme: rgb(255, 255, 255);
  /* --dark-theme: rgb(65, 65, 65); */
}

main {
  width: 100vw;
  z-index: 5;
  margin-top: 60px;
}

.top {
  background: #000000;
  width: 100vw;
  height: 60px;
  display: flex;
  font-family: sans-serif;
  position: fixed;
  top: 0px;
  left:0px;
  z-index: 100;
  border-bottom: 1px solid #a1a1a1;
  padding-top:20px;
}

.top .buttons {
  display: flex;
  top: 0px;
  right: 20px;
}

.top p {
  font-size: 36px;
  margin-top: 5px;
  padding-left: 40px;
  color: rgb(255, 255, 255);
}

.top-tools {
  width: 170px;
  height: 40px;
  background: rgb(255, 255, 255);
  border: none;
  margin: 5px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  cursor: default;
  font-size: 22px;
  right: 0px;
  top:20px;
  position: relative;
  border-radius: 5px;
}

.top-tools:hover {
  color: rgb(233, 233, 233);
  background: rgb(35, 35, 35);
}

.middle {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
}

.middle h1{
  position: absolute;
  left:5%;
  top:-20px;
}

.name {
  position: absolute;
  bottom: 100px;
  background: none;
}

.top-tools .fa-solid {
  padding-left: 10px;
  padding-right: 20px;
}

.tool-tip {
  font-size: 24px;
}

.pop-up {
  width: 400px;
  height: 200px;
  background: rgb(238, 238, 238);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: scale(0);
  position: fixed;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
  z-index: 120;
  border-radius: 10px;
}

.btn {
  font-size: 24px;
  color: white;
  padding: 5px;
  width: 150px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

.buttons {
  position: absolute;
  bottom: 30px;
}

.yes,
.no {
  background: black;
  border: none;
}

.pop-up p {
  font-size: 18px;
  color: rgb(0, 0, 0);
  position: absolute;
}

.pop-up h1 {
  font-size: 20px;
  position: absolute;
  top: 55px;
  font-size: 26px;
  color: rgb(0, 0, 0);
}

.pop-up-text {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  background: transparent;
  width: 100px;
  height: 100px;
  position: relative;
  top: 50px;
  display: none;
}

.loading .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-bottom: 4px solid;
  border-top: 4px solid;
  animation: circle 1s linear infinite;
}

.loading .fa-solid {
  font-size: 50px;
  position: absolute;
  left: 35px;
  top: 30px;
  animation: bin 1s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes bin {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.cancel:hover {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 26px;
  color: rgb(173, 173, 173);
}

#id,
#name {
  color: #3f3f3f;
  font-weight: 800;
}

.overlayer {
  background: black;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0px;
  z-index: 110;
  display: none;
}